.landing__container {
    margin-top: 3.5rem;
    width: 100%;
    height: 400px;
    // background-color: #000;

    &-inner {
        height: 100%;
        @include flex (flex, center, initial, row);
        
        &-left {
            width: 55%;
            height: 100%;
            padding: 0 1rem;
            
            .title {
                @include flex (flex, initial, initial, column);
                margin-top: 3rem;
                h1 {
                    line-height: 4.75rem;
                    font-size: 5rem;
                    font-family: $secondary-font;
                }

                span {
                    display: block;
                    padding-top: .5rem;
                    font-size: 1.25rem;
                }

                a {
                    display: inline-block;
                    margin-top: 1.75rem;
                    padding: .5rem;
                    width: 150px;
                    background-color: $green;
                    border-radius: 10rem;
                    text-decoration: none;
                    color: $white;
                    font-size: 1.15rem;
                    text-align: center;
                    // font-weight: bolder;
                    @include flex(inline-flex, center, center, row);
                    gap: .25rem;

                    svg {
                        font-size: 1.5rem;
                    }
                    span {
                        padding: 0;
                    }
                }
            }
        }

        &-right {
            width: 45%;
            height: 100%;
            // background-color: #000;
            padding: .5rem;

            .blocks {
                @include flex (flex, center, center, row);
                flex-wrap: wrap;
                gap: 1rem;
                
                .block {
                    width: 13rem;
                    min-height: 10rem;
                    // max-height: 10rem;
                    padding: .85rem;
                    background-color: rgba($color: $black-shade, $alpha: .65);
                    border-radius: .5rem;
                    backdrop-filter: blur(15px);
                    @include box-shadow;

                    .header {
                        width: 100%;
                        padding: .25rem 0;
                        @include flex (flex, center, initial, row);
                        gap: .25rem;

                        svg {
                            display: inline-block;
                            // width: 4rem;
                            // height: 4rem;
                            font-size: 4rem;
                            border-radius: 50%;
                            color: $purple;
                        }

                        h3 {
                            font-family: $secondary-font;
                            font-size: 1.15rem;
                        }
                        
                    }

                    .body {
                        font-family: $primary-font;
                    }

                    &__1 {
                        .header {
                            .icon {
                                background-color: $green;
                            }
                        }
                    }
                    &__2 {
                        .header {
                            .icon {
                                background-color: $pink;
                            }
                        }
                    }
                    &__3 {
                        .header {
                            .icon {
                                background-color: $purple;
                            }
                        }
                    }
                    &__4 {
                        .header {
                            .icon {
                                background-color: $black-shade;
                            }
                        }
                    }
                }
            }
        }
    }
}