.dashboard__wrapper {
    margin-top: 4.85rem;
    padding: 0 $padding-left;

    &-inner {
        @include flex (flex, initial, initial, initial);
        gap: 1.5rem;

        .left__pane {
            position: sticky;
            padding: 1.5rem .75rem;
            width: 14rem;
            max-width: 270px;
            max-height: 270px;
            background-color: rgba($color: $black-shade, $alpha: .5);
            border-radius: .2rem;
            backdrop-filter: blur(15px);

            &-inner {
                ul {
                    list-style: none;

                    li {
                        padding: .65rem .75rem;
                        background: $black-shade;
                        border-radius: .45rem;
                        @include flex (flex, center, initial, row);
                        gap: .5rem;

                        svg {
                            font-size: 1.35rem;
                        }

                        a {
                            text-decoration: none;
                            color: $white;
                            transition: .3s ease-in-out;

                            &:hover {
                                color: $gray;
                            }
                        }

                        &:not(:last-of-type) {
                            margin-bottom: .45rem;
                        }
                    }
                }
            }
        }

        .middle__pane {
            // padding: 1.5rem .75rem;
            width: 49rem;
            // max-width: px;
            
            &-welcome {
                display: flex;
                gap: .5rem;
                width: 100%;
                // max-width: 270px;
                background-color: rgba($color: $black-shade, $alpha: .5);
                border-radius: .2rem;
                backdrop-filter: blur(15px);
                overflow: hidden;

                &-left {
                    padding: 1.5rem 2.5rem;

                    .intro {
                        margin-bottom: 2rem;

                        h2 {
                            font-family: $primary-font;
                            font-size: 2.15rem;
                        }

                        span.animated__span {
                            display: inline-block;
                            width: 100%;
                            color: $gray;
                            overflow: hidden;

                            span {
                                display: inline-block;
                                animation: wheeze-in 15s cubic-bezier(1, 0,0, 1) infinite;
                            }
                        }
                    }

                    .progress__blocks {
                        @include flex (flex, initial, initial, initial);
                        gap: 1rem;

                        &-block {
                            width: 10rem;
                            max-width: 250px;
                            background: linear-gradient(120deg, #3e187a 0%, #994ecc 74%);
                            backdrop-filter: blur(104px);
                            padding: .65rem .75rem;
                            border-radius: .45rem;
                            box-shadow: rgba($color: #000000, $alpha: 0.1) 0px 4px 12px;

                            h3 {
                                font-size: .85rem;
                                font-family: $primary-font;
                            }

                            span {
                                font-size: .75rem;
                            }

                            &:nth-child(1) {
                                display: flex;
                                justify-content: space-between;

                                span.badge {
                                    display: inline-block;
                                    width: 2.25rem;
                                    height: 2.25rem;
                                    background-image: url('../../../public/badge.png');
                                    background-position: 50% 20%;
                                    background-size: 3rem;
                                    background-repeat: no-repeat;

                                }
                            }
                        }
                    }
                }

                &::after {
                    display: inline-block;
                    content: '';
                    position: absolute;
                    height: 100%;
                    width: 50%;
                    top: 1rem;
                    right: -3rem;
                    background-image: url('../../../public/planet.png');
                    background-position: 100% 10%;
                    background-size: cover;
                    background-repeat: no-repeat;
                    box-shadow: rgba($color: #000000, $alpha: 0.1) 0px 4px 12px;
                    z-index: -1;
                    // filter: saturate(1);
                    animation: wobble 3s ease infinite;
                }
            }

            .picker {
                margin: 2rem 0;

                &__header {
                    margin-bottom: 1rem;

                    h2 {
                        font-family: $primary-font;
                    }

                    span {
                        font-family: $primary-font;
                        color: $gray;
                        // font-size: 1rem;
                    }
                }
            }
        }

        .right__pane {
            width: 14rem;
            max-width: 270px;
            max-height: 430px;
            // background-color: rgba($color: $black-shade, $alpha: .5);
            // border-radius: .2rem;
            
            &-top {
                width: 100%;
                padding: .65rem .75rem;
                background-color: rgba($color: $black-shade, $alpha: .5);
                border-radius: .35rem;

                &-inner {
                    .user__info {
                        @include flex(flex, center, initial, initial);
                        gap: .5rem;

                        &-avatar {
                            height: 3rem;
                            width: 3rem;
                            border-radius: 50%;
                            background-image: url('../../../public/avatars/boy\ 4.jpg');
                            background-position: center;
                            background-size: cover;
                            background-repeat: no-repeat;
                            box-shadow: rgba($color: #000000, $alpha: 0.1) 0px 4px 12px;
                        }

                        &-details {
                            h4 {
                                font-family: $primary-font;
                            }

                            a {
                                @include flex (inline-flex, center, initial, initial);
                                text-decoration: none;
                                color: $white;
                                font-size: .85rem;
                                transition: .3s ease-in-out;
                                gap: .35rem;

                                &:hover {
                                    color: $gray;
                                }
                            }
                        }
                    }
                }
            }

            &-bottom {
                margin-top: .85rem;
                padding: .85rem;
                height: 100%;
                border-radius: .5rem;
                background-color: rgba($color: $black-shade, $alpha: .5);

                .achievements {
                    ul {
                        list-style: none;

                        li {
                            @include flex (flex, center, space-between, initial);
                            // gap: .5rem;
                            background-color: $black-shade;
                            padding: .5rem;
                            border-radius: .25rem;

                            &:not(:last-of-type) {
                                margin-bottom: .5rem;
                            }

                            span {
                                font-size: .85rem;
                                // display: inline-block;

                                &.user__image {
                                    width: 2rem;
                                    height: 2rem;
                                    border-radius: 50%;
                                    background-image: url('../../../public/avatars/boy\ 4.jpg');
                                    background-position: center;
                                    background-size: cover;
                                    background-repeat: no-repeat;
                                    box-shadow: rgba($color: #000000, $alpha: 0.1) 0px 4px 12px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}