.edit__container {
    margin-top: 4.85rem;
    padding: 0 $padding-left;
    width: 100%;

    &-inner {
        width: 80%;
        margin: 0 auto;

        .top {
            margin-bottom: 1.75rem;

            &__inner {
                padding: 1rem $padding-left;
                @include flex (flex, center, initial, initial);
                gap: 2rem;

                .display__image {
                    height: 17rem;
                    width: 17rem;
                    border-radius: 50%;
                    background-size: cover;
                    background-position: 50% 50%;
                    background-repeat: no-repeat;
                }

                .user__details {
                    form {
                        .user__name {
                            @include flex (flex, center, center, column);
                            margin-bottom: 1.65rem;

                            label {
                                span {
                                    display: block;
                                    font-size: 1.45rem;
                                }

                                input {
                                    width: 100%;
                                    padding: .55rem;
                                    background: none;
                                    outline: none;
                                    border: none;
                                    color: $white;
                                    font-family: $primary-font;
                                    border-bottom: 1px solid $white;
                                }
                            }
                        }

                        // Gender Div
                        .gender {
                            & > span {
                                font-size: 1.45rem;
                                margin-bottom: .5rem;
                            }

                            input[type='radio'] {
                                display: none;
                            }

                            label {
                                display: flex;
                                cursor: pointer;

                                input[type="radio"]:checked + span::before {
                                    box-shadow: inset 0 0 0 7px $green;
                                }

                                span {
                                    display: inline-flex;
                                    align-items: center;
                                    padding: .25rem .35rem;
                                    border-radius: .25rem;
                                    transition: .3s ease-in-out;

                                    &::before {
                                        content: '';
                                        background-color: #fff;
                                        width: 1.25rem;
                                        height: 1.25rem;
                                        border-radius: 50%;
                                        margin-right: .45rem;
                                        transition: .3s ease-in-out;
                                        box-shadow: inset 0 0 0 3px $black-shade;
                                    }

                                    &:hover {
                                        background-color: $black-shade;
                                    }
                                }
                            }
                        }

                        button {
                            display: inline-block;
                            margin-top: .85rem;
                            padding: .45rem;
                            width: 200px;
                            border: .1rem solid $gray;
                            border-radius: .65rem;
                            box-shadow: 0 0.375em 0 currentcolor;
                            color: $white;
                            font-size: 1.15rem;
                            font-family: $primary-font;
                            background: transparent;
                            // @include flex(inline-flex, center, center, row);
                            // gap: .25rem;
                            // overflow: hidden;
                            transition: .3s ease-out;
                            cursor: pointer;
                    
                            &:hover {
                                // color: $gray;
                                transform: scale(.97);
                                }
                            }
                    }
                }
            }
        }

        .bottom {
            width: 100%;
            border: 1px solid $gray;
            border-radius: .45rem;
            padding: 1.5rem $padding-left;

            &__header {
                margin-bottom: 1.85rem;
                text-align: center;

                h2 {
                    font-size: 1.85rem;
                    font-family: $secondary-font;
                }

                span {
                    font-family: $primary-font;
                    font-size: .85rem;
                    color: $gray;
                }
            }

            .avatar__picker__container {
                width: 100%;

                &-inner {
                    width: 100%;
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    grid-gap: 1.25rem;
                    justify-items: center;

                    .avatar {
                        height: 8rem;
                        width: 8rem;
                        border-radius: 50%;
                        border: none;
                        outline: none;
                        cursor: pointer;
                        background-size: cover;
                        background-position: 50% 50%;
                        background-repeat: no-repeat;
                        transition: all .3s ease-in-out;

                        &:hover {
                            transform: scale(1.1);
                        }
                        
                        &__1 {
                            background-image: url('https://res.cloudinary.com/doqyk8frz/image/upload/v1700565859/boy_1_th9ovq.jpg');
                        }

                        &__2 {
                            background-image: url('https://res.cloudinary.com/doqyk8frz/image/upload/v1700566442/Quizbuds%20Images/boy_6_j8pbbi.jpg');
                        }
                        &__3 {
                            background-image: url('https://res.cloudinary.com/doqyk8frz/image/upload/v1700566435/Quizbuds%20Images/girl_4_rfitb9.jpg');
                        }
                        &__4 {
                            background-image: url('https://res.cloudinary.com/doqyk8frz/image/upload/v1700566413/Quizbuds%20Images/girl_5_xj1joe.jpg');
                        }
                        &__5 {
                            background-image: url('https://res.cloudinary.com/doqyk8frz/image/upload/v1700566410/Quizbuds%20Images/girl_3_gw2tbu.jpg');
                        }
                        &__6 {
                            background-image: url('https://res.cloudinary.com/doqyk8frz/image/upload/v1700566407/Quizbuds%20Images/boy_4_gjhkks.jpg');
                        }
                        &__7 {
                            background-image: url('https://res.cloudinary.com/doqyk8frz/image/upload/v1700566405/Quizbuds%20Images/boy_5_yje5p3.jpg');
                        }
                        &__8 {
                            background-image: url('https://res.cloudinary.com/doqyk8frz/image/upload/v1700566404/Quizbuds%20Images/girl_7_ldjrrv.jpg');
                        }
                        &__9 {
                            background-image: url('https://res.cloudinary.com/doqyk8frz/image/upload/v1700566405/Quizbuds%20Images/girl_1_xyf2ye.jpg');
                        }
                        &__10 {
                            background-image: url('https://res.cloudinary.com/doqyk8frz/image/upload/v1700566404/Quizbuds%20Images/boy_2_i74ywz.jpg');
                        }
                        &__11 {
                            background-image: url('https://res.cloudinary.com/doqyk8frz/image/upload/v1700566403/Quizbuds%20Images/girl_6_tehuct.jpg');
                        }
                        &__12 {
                            background-image: url('https://res.cloudinary.com/doqyk8frz/image/upload/v1700566403/Quizbuds%20Images/man_2_a163ex.jpg');
                        }
                        &__13 {
                            background-image: url('https://res.cloudinary.com/doqyk8frz/image/upload/v1700566403/Quizbuds%20Images/girl_9_a7czcu.jpg');
                        }
                        &__14 {
                            background-image: url('https://res.cloudinary.com/doqyk8frz/image/upload/v1700566402/Quizbuds%20Images/girl_2_i567l0.jpg');
                        }
                        &__15 {
                            background-image: url('https://res.cloudinary.com/doqyk8frz/image/upload/v1700566400/Quizbuds%20Images/man_3_ap7hk8.jpg');
                        }
                        &__16 {
                            background-image: url('https://res.cloudinary.com/doqyk8frz/image/upload/v1700566399/Quizbuds%20Images/man_1_ppbmwx.jpg');
                        }
                    }
                }
            }
        }
    }
}